baseURL = 'https://bharathgunapati.com/'
languageCode = 'en-us'
title = 'Bharath Gunapati'
theme = 'hugo-ink'

[[menu.main]]
name = "Home"
url = "/"
weight = 1

[[menu.main]]
name = "Blog"
url = "/posts/"
weight = 2
